* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  padding: 1vh;
}

.title {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding: 1vh;
}

main {
  width: 100%;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.PickImg-wrapper, .selected-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
}

.PickImg-wrapper {
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  background-color: black;
  color: white;
  width: 108vh;
  max-height: 90vh;
  max-width: 100%;
}

.images {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
}

.ImageBox-wrapper {
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0.9;
  position: relative;
  padding-bottom: 100%;
}

.ImageBox-wrapper img {
  border-bottom: 2px solid white;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ImageBox-wrapper:hover {
  opacity: 1;
}

.cost {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.cost div {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px dotted white;
}

.clicked {
  opacity: 0.1 !important;
}

.selected-wrapper {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  border: 1px dotted lime;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
}

.selected-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.dollar-left {
  text-transform: uppercase;
  font-size: 14px;
}

.dollar-left span {
  white-space: nowrap;
  background-color: white;
  color: black;
  padding: 0 10px;
}

.selected-buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.selected-button_clear {
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 7px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: nowrap;
  margin-top: 10px;
}

.disabled {
  cursor: initial;
  opacity: 0.2;
}

.preview-wrapper {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 25%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60px, 25%));
}

.preview-wrapper .ImageBox-wrapper img {
  border: none;
}

@media screen and (max-width: 768px) {
  .selected-wrapper {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding: 10px;
  }
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .preview-wrapper {
    -ms-grid-columns: (minmax(60px, 33.33%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(60px, 33.33%));
  }
}
/*# sourceMappingURL=index.css.map */